CREATE OR REPLACE FUNCTION public.get_message_contacts()
RETURNS TABLE (
  id UUID,
  full_name TEXT,
  avatar_url TEXT,
  role TEXT
) LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public AS \$\$
  -- If user is a mentor, return their students
  SELECT p.id, p.full_name, p.avatar_url, 'student' AS role
  FROM public.profiles p
  JOIN public.team_members tm ON p.id = tm.student_id
  JOIN public.teams t ON tm.team_id = t.id
  WHERE t.mentor_id = auth.uid()
  
  UNION
  
  -- If user is a student, return their mentors
  SELECT p.id, p.full_name, p.avatar_url, 'mentor' AS role
  FROM public.profiles p
  JOIN public.teams t ON p.id = t.mentor_id
  JOIN public.team_members tm ON t.id = tm.team_id
  WHERE tm.student_id = auth.uid()
  
  UNION

  -- If user is a mentor, return their institution admins
  SELECT p.id, p.full_name, p.avatar_url, 'institution' AS role
  FROM public.profiles p
  JOIN public.user_roles ur ON p.id = ur.user_id
  JOIN public.profiles mp ON p.institution_id = mp.institution_id
  WHERE mp.id = auth.uid() AND ur.role = 'institution'

  UNION

  -- If user is an institution, return their mentors
  SELECT p.id, p.full_name, p.avatar_url, 'mentor' AS role
  FROM public.profiles p
  JOIN public.user_roles ur ON p.id = ur.user_id
  JOIN public.profiles ip ON p.institution_id = ip.institution_id
  WHERE ip.id = auth.uid() AND ur.role = 'mentor'
  
  UNION
  
  -- Return anyone they already have a message history with
  SELECT p.id, p.full_name, p.avatar_url, 'contact' AS role
  FROM public.profiles p
  JOIN public.direct_messages dm ON p.id = dm.sender_id OR p.id = dm.receiver_id
  WHERE (dm.sender_id = auth.uid() OR dm.receiver_id = auth.uid()) 
    AND p.id != auth.uid();
\$\$;

